@media(≥576px) {
    body {
        font-size: 5vw;

        .header_menu {
            .reserve_tel a {
                font-size: 9px;
            }

        }

        #eyecatch {
            .repair-guide br {
                display: block;
            }
        }
    }
}